:root { 
    background: #505050;
    --name-text-color: #D0D0D0;
    --button-color: #fadd1e;
    --button-text-color: #212121;
    --shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
}
.container {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 125px;
}
.image {
    width:300px;
    max-width: 50%;
    border-radius: 50%;
    box-shadow: var(--shadow)
}
.name {
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size:60px;
    color: var(--name-text-color);
}
button {
    background-color: var(--button-color);
    border: none;
    border-radius: 25px;
    color: var(--button-text-color);
    padding: 12px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    box-shadow: var(--shadow);
    transition: all 0.05s ease-in-out;
}
button:hover {
    transform: scale(1.05);
  }